@use '../../styles/colors' as color;


.popover{
    background-color: color.$gray-light;
    border: 1px solid color.$gray;
    border-radius: 16px;
    padding: 16px;
    visibility: hidden;
    transform: translateY(-20%);
    opacity: 0;
    transition: 
        transform .2s ease,
        opacity .2s ease;

    &.open{
        visibility: visible;
        transform: translateY(-20%);
        opacity: 1;
    }
}