{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "max-len": ["error", 140, 2],
    "arrowParens": "always",
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSameLine": false,
    "endOfLine": "auto"
}