$primary-light:#4fc3f7;
$primary:#039be5;
$primary-dark:#01579b;

$secondary-light:#ce93d8;
$secondary:#8e24aa;
$secondary-dark:#4a148c;

$success-light:#a5d6a7;
$success:#4caf50;
$success-dark:#1b5e20;

$error-light:#ff8a80;
$error:#d50000;
$error-dark:#a41a1a;

$disabled-dark: #424242;
$disabled: #9e9e9e;
$disabled-light: #e0e0e0;

$gray: #424242;