@use '../../styles/colors' as color;

.checkbox_container {
    position: relative;
    width: fit-content;
}

.checkbox {
    border: 2px solid color.$gray-light;
    background-color: rgba(color.$gray-light, 0.1);
    border-radius: 20%;
    margin: 3px;
    cursor: pointer;
    user-select: none;
    transition:
        box-shadow 0.2s ease,
        background-color 0.2s ease,
        border-color 0.2s ease;

    &.primary:hover {
        box-shadow: 0px 0px 0px 3px color.$primary-light;
        border-color: color.$primary;
        background-color: rgba(color.$primary, 0.1);
    }

    &.secondary:hover {
        box-shadow: 0px 0px 0px 3px color.$secondary-light;
        border-color: color.$secondary;
        background-color: rgba(color.$secondary, 0.1);
    }

    &.success:hover {
        box-shadow: 0px 0px 0px 3px color.$success-light;
        border-color: color.$success;
        background-color: rgba(color.$success, 0.1);
    }

    &.error:hover {
        box-shadow: 0px 0px 0px 3px color.$error-light;
        border-color: color.$error;
        background-color: rgba(color.$error, 0.1);
    }
}

.hidden_checkbox {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;

    &:checked + .checkbox {
        &.primary {
            background-color: color.$primary;
            border-color: color.$primary;
        }

        &.secondary {
            background-color: color.$secondary;
            border-color: color.$secondary;
        }

        &.success {
            background-color: color.$success;
            border-color: color.$success;
        }

        &.error {
            background-color: color.$error;
            border-color: color.$error;
        }

        &:active {
            box-shadow: none;
        }
    }

    &:disabled:checked + .checkbox {
        pointer-events: none;
        background-color: color.$gray-light;
        border-color: color.$gray-light;
    }
    &:disabled:not(:checked) + .checkbox {
        pointer-events: none;
        background-color: white;
        border-color: color.$gray-light;
    }
    &:not(:checked) + .checkbox:active {
        box-shadow: none;
    }

    &:focus:focus-visible + .checkbox {
        outline: 2px solid black;
        outline-offset: 2px;
    }
}

.checkbox_mark {
    fill: white;
    vertical-align: top;

    &.small {
        width: 20px;
        height: 20px;
    }
    &.medium {
        width: 35px;
        height: 35px;
    }
    &.large {
        width: 50px;
        height: 50px;
    }
}
